.faq__content {
	max-width: 35rem;
}

.faq__heading {
	font-size: 3.2rem;
	font-weight: var(--weight-bold);
	text-align: center;
	color: var(--color-dark-blue);
	margin-bottom: 2.5rem;
}

.faq__items {
}

.faq__item {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	cursor: pointer;
	border-bottom: 1px solid var(--color-light-gray);
}

.faq__question-container {
	display: flex;
	align-items: center;
}

.faq__question {
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--color-dark-gray);
	position: relative;
    margin-right: auto;
    transition: color .3s ease;
}

.faq__question:hover {
	color: var(--color-orange);
}

.faq__arrow {
	transition: .4s transform;
}

.faq__answer {
	font-size: 1.2rem;
	line-height: 1.8rem;
	display: none;
	margin-top: 1.5rem;
	color: var(--color-mid-gray);
}

.faq__item.active .faq__question {
	font-weight: var(--weight-bold);
	color: var(--color-dark-blue);
}

.faq__item.active .faq__arrow {
	transform: rotate(180deg);
}

.faq__item.active .faq__answer {
	display: block;
	animation: fadein .5s ease;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(-1.5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}